#!/bin/bash
#should be portable
#should setup debian after installation
# 1.bash
# 2.vim
# 3.cron suspend
# 4.install package: m.t.s.2
# 5.now you should have a working machine, timer, cron

export editor=/usr/bin/vi
export root_dir=~/config
export txt_dir=$root_dir/txt

source $root_dir/cfg/colors.cfg
export file_bash=$root_dir/bashrc.cfg
export file_vim=$root_dir/vim.cfg

export file_idea=$txt_dir/idea.txt

if [ ! -d $root_dir ];then
	mkdir -p $root_dir
fi
alias bashrcE="$editor $file_bash"
alias vimE="$editor $file_vim"


link_bashrc(){

echo "source $file_bash" >> ~/.bashrc
}
cfg(){
subject=$1
shift
args="$@"
file=$txt_dir/$subject.txt
if [ ! -f $file ];then
	touch  $file
fi
echo "$args" >> $file
echo 'added:'
cat $file | grep "$args"
}
cfgE(){
subject=$1
shift
args="$@"
file=$txt_dir/$subject.txt
if [ ! -f $file ];then
	touch  $file
fi
echo "$args" >> $file
echo 'added:'
cat $file | grep "$args"
$editor $file
}
hotkeys(){
#xfce desktop:
xfconf-query -c xfce4-keyboard-shortcuts -p /commands/default/XF86Display -s 'test'
xfconf-query -c xfce4-keyboard-shortcuts -l
}
packages(){
cat $txt_dir/packages.txt
}
production_machine_stay_untouched(){
#add only cron
#use git only on vm
crontab $path
}
show(){
func="$1"

cat $root_dir
}

export -f cfg
export -f cfgE
export -f hotkeys

export -f link_bashrc
export -f packages
echo 'bashrc.cfg alive'
